<!DOCTYPE html>
<html>
<head>
  <script>
  window.onblur = function () { document.title = 'The Internet is Forever'; }
  window.onfocus = function () { document.title = 'Presence | The Web & You'; }
  </script>
  <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheet.css" />
  <script type='text/javascript' src="digitalfootprint.js"></script>
</head>
<body>
  <!-- <div class="constraint"> -->
  <div id=titletext>
    <img src="static/titletext.png">
  </div>
    <div id="bw">
      <div id=instagram class="icons">
        <img src="static/SocialIcons/instagramBW.png" align="left" class="a">
      </div>
      <div id=twitter class="icons">
        <img src="static/SocialIcons/twitterBW.png" align="left" class="a">
      </div>
      <div id=gplus class="icons">
        <img src="static/SocialIcons/gplusBW.png" align="left" class="a">
      </div>
      <div id=facebook class="icons">
        <a href='/facebook'>
        <img src="static/SocialIcons/facebookBW.png" align="left" class="a">
      </div>
    </div>
  <!-- </div> -->
</body>
