.icons {
  max-width: 256px;
  max-height: 256px;
  display: inline-block;
  /* display: inline-block; */
}
html {
  padding-top: 50px;
}
body {
  background-image: url("static/backgrounds/background.jpg");
}
#titletext {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
#facebook {
  background-image: url("static/SocialIcons/facebook.png");
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

#instagram {
  background-image: url("static/SocialIcons/instagram.png");
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

#twitter {
  background-image: url("static/SocialIcons/twitter.png");
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}
#gplus {
  background-image: url("static/SocialIcons/gplus.png");
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

#bw {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.a {
  z-index: 10;
}

body.bg-0 {
  background-image: url("static/backgrounds/backgroundgplus.png");
}

body.bg-1 {
  background-image: url("static/backgrounds/backgroundfacebook.png");
}

body.bg-2 {
  background-image: url("static/backgrounds/backgroundinstagram.png");
}

body.bg-3 {
  background-image: url("static/backgrounds/backgroundtwitter.png");
}

/* added by Christina */
h1 {
	text-align: center;
}

.leftside {
	width: 49.5%;
	border-style: solid;	
	float: left;
}

.rightside {
	width: 49.5%;
	border-style: solid;	
	float: left;	
}

.content {
	width: 95%;
	clear: both;
	float: center;
	margin: auto;
	padding: 5px;
}

.bioday {
	width: 95%;
	margin: auto;
}

.half {
	width: 50%;
	float: left;
	margin: auto;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border-color: black;
    border-style: solid;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-color: red;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: blue;
}
