.icons {
  width: 128px;
  height: 128px;
  margin: 10px;
  display: inline-block;
}

#facebook {
  background-image: url("static/SocialIcons/facebook.png");
}

#instagram {
  background-image: url("static/SocialIcons/instagram.png");
}

#twitter {
  background-image: url("static/SocialIcons/twitter.png");
}

#bw {
  position: relative;
  width: 660px;
  height: 100%;
}

img.a {
  z-index: 10;
}
