.icons {
  max-width: 256px;
  max-height: 256px;
  display: inline-block;
  /* display: inline-block; */
}
html {
  padding-top: 50px;
}
body {
  background-image: url("static/backgrounds/background.jpg");
}
#titletext {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
#facebook {
  background-image: url("static/SocialIcons/facebook.png");
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

#instagram {
  background-image: url("static/SocialIcons/instagram.png");
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

#twitter {
  background-image: url("static/SocialIcons/twitter.png");
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}
#gplus {
  background-image: url("static/SocialIcons/gplus.png");
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

#bw {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.a {
  z-index: 10;
}

body.facebook {
  background-image: url("static/backgrounds/backgroundfacebook.png");
}

body.bg-1 {
  background-image: url("static/backgrounds/backgroundgplus.png");
}

body.bg-2 {
  background-image: url("static/backgrounds/backgroundinstagram.png");
}

body.bg-3 {
  background-image: url("static/backgrounds/backgroundtwitter.png");
}
